{
  "openapi": "3.0.0",
  "info": {
    "title": "Shop Management Service API",
    "version": "1.0.0",
    "description": "API documentation for the Shop Management Microservice. Handles Shops and Products."
  },
  "servers": [
    {
      "url": "http://gateway-alb-624690862.eu-north-1.elb.amazonaws.com/api",
      "description": "API Gateway"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/shops": {
      "get": {
        "summary": "Retrieve all shops",
        "description": "Fetch a list of all available shops.",
        "tags": ["Shops"],
        "responses": {
          "200": {
            "description": "Successfully retrieved shops",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "60d0fe4f5311236168a109ca",
                    "username": "shop123",
                    "name": "Pizza Paradise",
                    "email": "contact@pizzaparadise.com",
                    "phone": "+1234567890"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/shops/orders": {
      "get": {
        "summary": "Retrieve shop orders",
        "description": "Retrieve all orders placed for the authenticated shop.",
        "tags": ["Shops"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved orders",
            "content": {
              "application/json": {
                "example": [
                  {
                    "_id": "60d0fe4f5311236168a109cb",
                    "user": "60d0fe4f5311236168a109cc",
                    "shopId": "60d0fe4f5311236168a109ca",
                    "items": [
                      {
                        "product": "60d0fe4f5311236168a109cd",
                        "quantity": 2,
                        "price": 15.99
                      }
                    ],
                    "totalAmount": 31.98,
                    "status": "pending",
                    "createdAt": "2023-10-25T10:30:00Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shops/orders/{orderId}/status": {
      "patch": {
        "summary": "Update order status",
        "description": "Update the status of a specific order for the authenticated shop.",
        "tags": ["Shops"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the order to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "preparing",
                    "enum": ["pending", "preparing", "ready", "out_for_delivery", "delivered", "cancelled"]
                  }
                },
                "required": ["status"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated order status",
            "content": {
              "application/json": {
                "example": {
                  "message": "Order status updated successfully",
                  "order": {
                    "_id": "60d0fe4f5311236168a109cb",
                    "status": "preparing"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid status)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Create a new product",
        "description": "Add a new product for the authenticated shop.",
        "tags": ["Products"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Pepperoni Pizza"
                  },
                  "price": {
                    "type": "number",
                    "example": 14.99
                  },
                  "description": {
                    "type": "string",
                    "example": "Classic pizza with tomato sauce, mozzarella, and pepperoni."
                  },
                  "category": {
                    "type": "string",
                    "example": "Main Course"
                  },
                  "image": {
                    "type": "string",
                    "example": "https://example.com/pizza.jpg"
                  },
                  "isAvailable": {
                    "type": "boolean",
                    "example": true
                  }
                },
                "required": ["name", "price", "category"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "example": {
                  "_id": "60d0fe4f5311236168a109d1",
                  "name": "Pepperoni Pizza",
                  "price": 14.99,
                  "description": "Classic pizza with tomato sauce, mozzarella, and pepperoni.",
                  "category": "Main Course",
                  "image": "https://example.com/pizza.jpg",
                  "isAvailable": true,
                  "shopId": "60d0fe4f5311236168a109ca",
                  "createdAt": "2023-10-25T11:00:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "Retrieve all products",
        "description": "Fetch a list of all products in the system.",
        "tags": ["Products"],
        "responses": {
          "200": {
            "description": "Successfully retrieved products",
            "content": {
              "application/json": {
                "example": [
                  {
                    "_id": "60d0fe4f5311236168a109d1",
                    "name": "Pepperoni Pizza",
                    "price": 14.99,
                    "description": "Classic pizza with tomato sauce, mozzarella, and pepperoni.",
                    "category": "Main Course",
                    "image": "https://example.com/pizza.jpg",
                    "isAvailable": true,
                    "shopId": "60d0fe4f5311236168a109ca"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "Get a single product",
        "description": "Fetch a specific product by its ID.",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the product",
            "content": {
              "application/json": {
                "example": {
                  "_id": "60d0fe4f5311236168a109d1",
                  "name": "Pepperoni Pizza",
                  "price": 14.99,
                  "description": "Classic pizza with tomato sauce, mozzarella, and pepperoni.",
                  "category": "Main Course",
                  "image": "https://example.com/pizza.jpg",
                  "isAvailable": true,
                  "shopId": "60d0fe4f5311236168a109ca"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "put": {
        "summary": "Update a product",
        "description": "Update an existing product for the authenticated shop.",
        "tags": ["Products"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Spicy Pepperoni Pizza" },
                  "price": { "type": "number", "example": 15.99 },
                  "description": { "type": "string", "example": "Spicy version of our classic pizza." },
                  "category": { "type": "string", "example": "Main Course" },
                  "image": { "type": "string", "example": "https://example.com/spicypizza.jpg" },
                  "isAvailable": { "type": "boolean", "example": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "example": {
                  "_id": "60d0fe4f5311236168a109d1",
                  "name": "Spicy Pepperoni Pizza",
                  "price": 15.99,
                  "description": "Spicy version of our classic pizza.",
                  "category": "Main Course",
                  "image": "https://example.com/spicypizza.jpg",
                  "isAvailable": true,
                  "shopId": "60d0fe4f5311236168a109ca"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (Not the product owner)"
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a product",
        "description": "Remove a product. Requires authenticated shop that owns the product.",
        "tags": ["Products"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted successfully",
            "content": {
              "application/json": {
                "example": {
                  "message": "Product deleted successfully"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden (Not the product owner)"
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/products/shops/{shopId}": {
      "get": {
        "summary": "Get all products by shop",
        "description": "Fetch a list of products that belong to a specific shop ID.",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "shopId",
            "in": "path",
            "required": true,
            "description": "ID of the shop",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved products for the shop",
            "content": {
              "application/json": {
                "example": [
                  {
                    "_id": "60d0fe4f5311236168a109d1",
                    "name": "Pepperoni Pizza",
                    "price": 14.99,
                    "description": "Classic pizza with tomato sauce, mozzarella, and pepperoni.",
                    "category": "Main Course",
                    "image": "https://example.com/pizza.jpg",
                    "isAvailable": true,
                    "shopId": "60d0fe4f5311236168a109ca"
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}